# Whitelist
*

## Allowed Directories
!docker/
!docker/**
!scripts/
!scripts/**
!docs
!docs/**
!windows/
!windows/**
!synology/
!synology/**

## Allowed Files
!.gitignore
!*.env.template
!README.md
!docker-compose.yml
!justfile
!tasks.ps1

# Explicit ignore
*.env
*.envrc
*.devenv
