# Whitelist
*

## Allowed Directories
!docker/
!docker/**

!docs
!docs/**

!synology/
!synology/**

!windows/
!windows/**

## Allowed Files
!.gitignore
!*.env.template
!README.md
!docker-compose.yml
!justfile
!tasks.ps1

# Explicit ignore
*.env
*.envrc
*.devenv
